body{
	  display:flex;
    flex-direction: column;
    justify-content: center;
	font-family: 'Merriweather', serif;
	font-size:70pt;
}
#black1{
	width:100%;
	text-align:center;
	background-color:white;
  margin-bottom:40px;
}

button{
    margin-top:40px;
    border: none;
    background-color: white;

}

#pass{
	color:black;
	text-align:center;
	background-color:#333333;
	border:none;
	color:white;
	width:100%;
	padding:0%;
}