body {
    background: white;
    font-family: 'Merriweather', serif;
    font-size: 70pt;
    height: 100vh;
    margin: 0;
    line-height: 1.42;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input, button {  font: inherit;  }

button {
    border: none;
    background: white;
}
button:hover { color: #444; }
button:active { color: #777; }

#pass {
    margin: 40px 0;
    text-align: center;
    width: 100%;
    background: #333;
    border: none;
    color: white;
    padding: 0;
}

#copied { opacity: 0; font-size: 24px; transition: opacity 1s; }
#copied.show { opacity: 1; transition: opacity 0.5s; }
